///// KLEUREN /////
$blue : #2458a3;
$yellow: #f2c853;
$green: #3be23f;

///// GENERAL CSS /////
body{
    font-family: Helvetica;
}

.title{
    color: $blue;
}

.flex {
    display: flex;
}

///// NAVIGATION /////
#topNav{
    display: flex;
    justify-content: space-between;

    img{
        width: 45%;
    }

    ul{
        a{
        padding: 1em;
        text-decoration: none;
        color: $yellow;
        }
    }

    input{
        width: 20em;
        height: 3em;
        border: 2px solid $yellow;
        border-radius: 25px;

    }
}

///// DATA /////

#serialData{
    flex-wrap: wrap;

    img{
        margin: 0 1em 0.5em
    }
    
    .drama {
        margin: 1em;
        border: 2px solid $blue;
    }
    
    p, h2 {
        text-align: center;
    }
}

#actorData{
    .details{
            margin-left: 2em;
            p{
                max-width: 100ch;
            }
        }
}

#allDramas {
    flex-wrap: wrap;
    .drama{
        margin: 1em;
        border: 2px solid $blue;
        text-align: center;
        padding: 1em;
    }
}
