///// KLEUREN /////
$blue : #2458a3;
$yellow: #f2c853;
$green: #3be23f;

///// GENERAL CSS /////
body{
    font-family: Helvetica;
}

.title{
    color: $blue;
}

.flex {
    display: flex;
}

footer{
   justify-content: space-around;
   align-items: center;
   background-color: $green;
   color: #ffffff;
   font-weight: 600;
   height: 5em;
}

///// NAVIGATION /////
#topNav{
    display: flex;
    justify-content: space-between;
    a{
        width: 15%;
        img{
            width: 100%;
        }
    }


    ul{
        a{
        padding: 1em;
        text-decoration: none;
        color: $yellow;
        }
    }

    input{
        width: 20em;
        height: 3em;
        border: 2px solid $yellow;
        border-radius: 25px;
    }

    input[type="submit"]{
        width: 5em;
        color: #ffffff;
        background-color: $yellow;
    }
}

///// DATA /////

#serialData, #allDramas, #cast, #content{
    flex-wrap: wrap;

    
    .drama, .actor {
        margin: 1em;
        border: 2px solid $blue;
        text-align: center;
        padding: 1em;
    }

}

#actorData, #detailData, #new{
    .flex{
        img{
            margin-bottom: 2em;
        }
    }
    .details{
            margin-left: 2em;
            p{
                max-width: 100ch;
            }
        }
}


